<ion-header>
  <ion-toolbar>
    <ion-title>detalhesFilmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-img  src="http://image.tmdb.org/t/p/w1280/m9cn5mhW519QKr1YGpGxNWi98VJ.jpg"></ion-img>
      </ion-col>
      <ion-col size-xs="12"  size-md="6">
        
          
          <ion-list>
            <ion-item>
              <ion-label><b>Demon Slayer - Mugen Train: O Filme</b></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Categoria: </b> Filme</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Genero: </b>Ação / Aventura / Fantasia</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Duração: </b> 117 minutos</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <ion-label><b>Descrição</b></ion-label>
            </ion-list-header>
            <ion-item>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis dui ipsum, eget gravida tortor fermentum vel. Praesent in purus enim. Fusce feugiat lorem felis. Nunc luctus elementum velit non consequat. Nunc placerat id orci eu placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla eu mi dolor. Maecenas quis urna eros. Fusce nunc lectus, dapibus ut porta a, tincidunt id eros. Praesent blandit arcu pulvinar iaculis consequat. Nulla id orci non orci sollicitudin laoreet quis eget tellus. Cras malesuada, augue ac sodales vehicula, enim turpis eleifend sapien, quis tincidunt dui nisl ut est. Etiam pellentesque ullamcorper quam. In quis neque et ex imperdiet laoreet et et libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>